/* 
cuando agrego estilo, se acomodo de acuerdo a ciertos temas
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Estilo de tema visual
5. Otros  
*/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange   : #FFE9D5;
    --secondary-blue: #1A9AF7;
    --secondary-blue: #1a9af7;
    --soft-blue     : #e7f5ff;
    --warm-black    : #282623;
    --black         : #201e1c;
    --grey          : #bababa;
    --off-white     : #faf8f7;
    --just-white    : #fff;
}

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

html {
    font-size  : 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    width          : 100%;
    min-width      : 320px;
    height         : 334px;
    text-align     : center;
    align-items    : center;
    background     : linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}

header img {
    width     : 150px;
    height    : 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width     : 90%;
    min-width : 288px;
    max-width : 900px;
    height    : 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size    : 2.4rem;
    font-weight  : 700;
    line-height  : 2.6rem;
    color        : var(--just-white);
    margin-bottom: 24px;
}

.header--title-container h1 p {
    font-size  : 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color      : var(--soft-orange);
    margin-top : 2.5rem;

}

.header--title-container .header--button {
    position        : absolute;
    left            : calc(50% - 118px);
    top             : 270px;
    display         : block;
    margin-top      : 35px;
    padding         : 15px;
    width           : 229px;
    height          : 48px;
    background-color: var(--off-white);
    font-size       : 14px;
    font-weight     : 700;
    line-height     : 18.23px;
    /* Sombra*/
    box-shadow      : 0px 4px 8px rgba(89, 73, 30, 0.16);
    border          : none;
    border-radius   : 5px;
    text-decoration : none;
    color           : var(--black);
}

.header--button span {
    display            : inline-block;
    width              : 13px;
    height             : 8px;
    margin-left        : 10px;
    background-image   : url("./assets/icons/mdi_keyboard_arrow_down.svg");
    background-position: center;
}

main {
    width           : 100%;
    height          : auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width         : 100%;
    height        : auto;
    padding-top   : 80px;
    padding-bottom: 30px;
    text-align    : center;
}

.main-exchange-containerr--title {
    width    : 90%;
    min-width: 288px;
    max-width: 900px;
    margin   : 0 auto;
}

.main-exchange-container .backgroundImg {
    width              : 200px;
    height             : 200px;
    margin             : 0 auto;
    margin-bottom      : 50px;
    background-image   : url("./assets/imgs/Bitcoin-section-two.png");
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
}

.main-exchange-containerr--title h2 {
    font-size    : 24px;
    font-weight  : 700;
    line-height  : 26px;
    margin-bottom: 30px;
    color        : var(--black);
}

.main-exchange-containerr--title p {
    font-size    : 14px;
    font-weight  : 500;
    line-height  : 18px;
    color        : #757575;
    margin-bottom: 30px;
}

/* estilos para la tabla*/

.currency-table--container,
.commissions-table--container {
    width      : 70%;
    min-width  : 235px;
    max-width  : 500px;
    height     : 360px;
    margin     : 0 auto;
    font-family: "Inter", sans-serif;
}

.currency-table--container{
    box-shadow: 0 4px 20px rgba(255, 165, 0, 0.5)
}

.commissions-table--container {
    box-shadow: 0 4px 20px rgba(22, 145, 245, 0.5);
}

.main-currency-table .currency-table--title,
.main-commissions-table .commissions-table--title {
    margin-bottom: 15px;
    font-size    : 1.8rem;
    font-weight  : bold;
    line-height  : 2.3rem;
    color        : var(--bitcoin-orange);
}

.currency-table--container,
.commissions-table--container {
    width    : 90%;
    min-width: 230px;
    max-width: 300px;
    height   : 250px;
    margin   : 0 auto;
}

.currency-table--container table,
.commissions-table--container table {
    width : 100%;
    height: 100%;
}

.currency-table--container td,
.commissions-table--container td {
    width           : 50%;
    font-size       : 1.6rem;
    font-weight     : 500;
    line-height     : 1.9rem;
    color           : var(--grey);
    background-color: var(--just-white);
    text-align      : center;
}

.currency-table--container .table__top-left,
.commissions-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right,
.commissions-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left,
.commissions-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right,
.commissions-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right,
.commissions-table--container .table__right {
    font-family   : Inter;
    font-size     : 1.4rem;
    font-weight   : 400;
    line-height   : 1.7rem;
    letter-spacing: -0.02em;
    text-align    : center;
    color         : #757575;
}

.currency-table--container .down {
    display            : inline-block;
    width              : 15px;
    height             : 15px;
    margin-left        : 10px;
    background-image   : url("./assets/icons/trending-down-section-three.svg");
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
}

.currency-table--container .up {
    display            : inline-block;
    width              : 15px;
    height             : 15px;
    margin-left        : 10px;
    background-image   : url("./assets/icons/trending-up-section-three.svg");
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
}

.main-commissions-table .commissions-table--title {
    font-family: DM Sans;
    font-size  : 18px;
    font-weight: 700;
    line-height: 23.44px;
    text-align : left;
    color      : var(--secondary-blue);
    text-align : center;
}

.currency-table--date {
    width           : 190px;
    height          : 45px;
    margin          : 0 auto;
    margin-top      : 15px;
    padding         : 8px;
    background-color: var(--soft-orange);
    border-radius   : 8px;
}

.currency-table--date p,
.commissions-table--date p {
    font-size  : 1.2rem;
    line-height: 1.5rem;
    color      : var(--warm-black);
    font-weight: 300;
}

.commissions-table--date {
    width           : 190px;
    height          : 45px;
    margin          : 0 auto;
    margin-top      : 15px;
    padding         : 8px;
    background-color: var(--soft-blue);
    border-radius   : 8px;
}

/* estilos para la tercera section*/


.main-product-detail {
    position        : relative;
    width           : 100%;
    min-width       : 320px;
    height          : auto;
    padding         : 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--patata-logo {
    position        : absolute;
    width           : 45px;
    height          : 25px;
    top             : -10px;
    left            : calc(50% - 20px);
    /* se pone el -20 para que se quede en el centro porque le resta el ancho de la icono*/
    background-image: url("./assets/icons/patata-logo.svg");
}

.product-detail--title {
    width     : 90%;
    min-width : 288px;
    height    : auto;
    margin    : 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size    : 2.4rem;
    font-weight  : bold;
    line-height  : 2.6rem;
    color        : var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size    : 1.4rem;
    font-weight  : 500;
    line-height  : 1.8rem;
    color        : #808080;

}

.product-detail--card {
    width           : 90%;
    min-width       : 288px;
    max-width       : 400px;
    min-height      : 150px;
    margin          : 15px auto;
    padding         : 15px;
    background-color: var(--black);
    border-radius   : 5px;
    box-shadow      : 0 4px 8px rgb(0, 0, 0, 0.16);
}

.product-detail--card .product--card-title {
    margin-bottom: 15px;
    font-size    : 1.8rem;
    font-weight  : bold;
    line-height  : 1.8rem;
    color        : var(--just-white);
}

.product-detail--card .product--card-body {
    font-size  : 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color      : #808080;
}

.product-detail--card span {
    display            : inline-block;
    width              : 20px;
    height             : 20px;
    margin-bottom      : 10px;
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.product-detail--card .clock {
    background-image: url("./assets/icons/clock-section-four.svg");
}

.product-detail--card .eye {
    background-image: url("./assets/icons/eye-section-four.svg");
}

.product-detail--card .moeny {
    background-image: url("./assets/icons/dollar-section-four.svg");
}

.product-detail--card .reliable {
    background-image: url("./assets/icons/check-section-four.svg");
}



/* estilos para la cuarta section*/
.bitcoin-img-container {
    width            : 100%;
    min-width        : 320px;
    height           : 60vh;
    background-image : url("./assets/imgs/bitcoinbaby\ 1.png");
    position         : center;
    background-size  : cover;
    background-repeat: no-repeat;
    text-align       : center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size  : 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color      : var(--just-white);
}


/* estilos para la quinta section*/
.main-plans-container {
    width         : 100%;
    min-width     : 320px;
    padding-bottom: 70px;
    text-align    : center;
}

.plans--title {
    width        : 90%;
    min-width    : 288px;
    height       : auto;
    margin       : 0 auto;
    margin-bottom: 50px;
}

.plans--title h2 {
    padding-top: 50px;
    font-size  : 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color      : var(--black);
}

.plans--title p {
    padding-top: 30px;
    font-size  : 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color      : #757575;
}

/* slider tarjetas*/

.plans-container--slider {
    display              : flex;
    gap                  : 20px;
    height               : 316px;
    overflow-x           : scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type     : x proximity;
    margin-left          : 30px;
    margin-right         : 25px;
}

.plans-container--card {
    position         : relative;
    scroll-snap-align: center;
    width            : 70%;
    min-width        : 190px;
    max-width        : 300px;
    height           : 250px;
    margin           : 50px auto 0;
    padding          : 0 15px;
    background-color : var(--just-white);
    border-radius    : 15px;
    box-shadow       : 0 4px 8px rgb(89, 73, 30, 0.16);
}

.plans-container--card .recommended {
    position     : absolute;
    margin-top   : -15px;
    text-align   : center;
    left         : calc(50% - 50px);
    background   : var(--bitcoin-orange);
    color        : var(--just-white);
    width        : 100px;
    height       : 31px;
    padding      : 8px;
    border-radius: 8px;
    font-size    : 1.2rem;
}

.plan-card--title {
    padding-top: 30px;
    font-size  : 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color      : var(--black);
}

.plan--card--price {
    padding    : 5px 0;
    font-size  : 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color      : var(--black);
    position   : relative;
}

.plan--card--price span {
    font-size: 1.2rem;
    top      : -7px;
    left     : calc(50% - 40px);
    position : absolute;
}

.plan--card-saving {
    font-size: 1.2rem;
    color    : #757575;
}

.plan--card--ca {
    margin-top   : 16px;
    height       : 48px;
    width        : 150px;
    border-radius: 4px;
    font-family  : "DM Sans", sans-serif;
    background   : var(--off-white);
    border       : 2px solid var(--bitcoin-orange);
    font-size    : 1.4rem;
    line-height  : 1.6rem;
    font-weight  : bold;
    color        : var(--black);
}

.plan--card--ca span {
    display         : inline-block;
    width           : 20px;
    height          : 20px;
    background-image: url("./assets/icons/arrow-right\ 1.svg");
    vertical-align  : text-bottom;
}



.plans-container--card .basic {
    position     : absolute;
    margin-top   : -15px;
    text-align   : center;
    left         : calc(50% - 50px);
    background   : var(--black);
    color        : var(--just-white);
    width        : 100px;
    height       : 31px;
    padding      : 8px;
    border-radius: 8px;
    font-size    : 1.2rem;
}

.plans-container--card .vip {
    position     : absolute;
    margin-top   : -15px;
    text-align   : center;
    left         : calc(50% - 50px);
    background   : var(--secondary-blue);
    color        : var(--just-white);
    width        : 100px;
    height       : 31px;
    padding      : 8px;
    border-radius: 8px;
    font-size    : 1.2rem;
}

.plan--card--ca-basic {
    margin-top   : 16px;
    height       : 48px;
    width        : 150px;
    border-radius: 4px;
    font-family  : "DM Sans", sans-serif;
    background   : var(--off-white);
    border       : 2px solid var(--black);
    font-size    : 1.4rem;
    line-height  : 1.6rem;
    font-weight  : bold;
    color        : var(--black);
}

.plan--card--ca-basic span {
    display         : inline-block;
    width           : 20px;
    height          : 20px;
    background-image: url("./assets/icons/arrow-right\ 1.svg");
    vertical-align  : text-bottom;
}

.plan--card--ca-vip {
    margin-top   : 16px;
    height       : 48px;
    width        : 150px;
    border-radius: 4px;
    font-family  : "DM Sans", sans-serif;
    background   : var(--off-white);
    border       : 2px solid var(--secondary-blue);
    font-size    : 1.4rem;
    line-height  : 1.6rem;
    font-weight  : bold;
    color        : var(--black);
}

.plan--card--ca-vip span {
    display         : inline-block;
    width           : 20px;
    height          : 20px;
    background-image: url("./assets/icons/arrow-right\ 1.svg");
    vertical-align  : text-bottom;
}

footer {
    display         : flex;
    width           : 100%;
    height          : 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 50%;
}

footer .left ul {
    font-size  : 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    list-style : none;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color          : var(--just-white);
}

.main-tables-container {
    display              : flex;
    gap                  : 12px;
    overflow-x           : scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type     : x proximity;
    text-align           : center;
}

.main-currency-table,
.main-commissions-table {
    min-width: 250px;
    max-width: 300px;
    height   : 380px;
    margin   : 50px auto 0;
    width    : 80%;
}